### IntelliJ IDEA ###
.idea/
*.iml
BarberShopAppointment/
### Build files ###
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties

### Logs ###
*.log
*.stacktrace
*.out

### OS Files ###
.DS_Store
Thumbs.db
desktop.ini
